.panel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    max-width:60%;
    margin: 30% auto;
    padding: 20px;
}

.display {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 20px;
    text-align: right;
    font-size: 2em;
}
.buttons {
    background-color: white;
    text-align: right;
}
.button {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 10px;
    width: 25%;
    transition: all 0.1s ease-in-out;
}
.button:hover {
    background-color: #eee;
    cursor: pointer;
}
.button:active {
   /*увеличение border во внутрь*/
    box-shadow: inset 0 0 0 4px #ccc;
    background-color: #ddd;
}

.button__big {
    width: 50%;
}

.button__orange {
    background-color: orange;
}

.button__orange:hover {
    background-color: #ff9900;
}

.button__orange:active {
    box-shadow: inset 0 0 0 4px #e89a15;
    background-color: #ff9900;
}

.panel-child {
    border: 2px solid #ccc;
    border-radius: 4px;
}